@import "./componentStyles/constants.scss";

.App {
  text-align: center;
  background-color: $almost-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  margin: -5vh 0 -5vh 0;
  margin-left: -1vw;
}

#DonateLinks {
  width: 100%;
}
