@import "./constants.scss";

.AboutUs {
  padding: 80px 5%;
  text-align: justify;
  font-family: $main-font;

  .about-us-text {
    display: flex;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
      width: 100vw;
      align-self: center;

      & * {
        margin-right: 20px;
        margin-left: 20px;
        width: 80vw;
      }
    }
  }

  .component-title {
    z-index: 1;
    font-size: 60px;
  }

  p {
    color: white;
  }

  p:first-of-type {
    margin-right: 20px;
  }

  p:last-of-type {
    margin-left: 20px;
  }
}
