@import "./constants.scss";

.about {
  background-image: url("../images/war.png");
  background-repeat: no-repeat, repeat;
  background-position: center; /* Center the image */
  background-blend-mode: none;
  background-size: cover;
  background-color: $dark-dark-grey;
  overflow: hidden;
  z-index: 1;
  opacity: 0.95;
  padding: 80px 5%;
  text-align: right;
  font-family: $main-font;

  @media only screen and (max-width: 500px) {
    width: 100vw;
    padding: 0;
  }

  h2 {
    color: white;
    font-size: 60px;
    width: 60%;
    margin-bottom: 0px;
    margin-left: auto;

    @media only screen and (max-width: 500px) {
      width: 100vw;
      font-size: 30px;
      padding-right: 10vw;
    }
  }

  p {
    width: 60%;
    margin-left: auto;
  }

  img {
    z-index: 1;
  }

  .moreButton {
    background-color: transparent; /* Green */
    border: none;
    color: $white;
    text-align: center;
    text-decoration: none;
    font-size: 3vmin;
    z-index: 2;
    transition-duration: 0.4s;
    margin: 5%;
  }
  .moreButton:hover {
    font-size: 3.5vmin;
    color: black;
    background-color: white;
  }

  p {
    font-family: $main-font;
    z-index: 1;
    color: $white;
    padding-bottom: 0;
  }

  .aboutText {
    position: relative;
    position: relative;
    text-align: justify;
    font-weight: 600;
    font-size: 4vmin;
    margin: 10%;
    padding-bottom: 0;
  }

  #aboutMoreText {
    text-align: justify;
    color: white;
  }

  .hideMore {
    display: none;
  }
}
