@import "./constants.scss";

.challenge {
  width: 100vw;
  height: 90vh;
  background-color: $black;
}

.challengeText {
  position: relative;
  font-family: $main-font;
  z-index: 1;
  color: $white;
  text-align: justify;
  font-weight: 600;
}

.challengeTitle {
  position: relative;
  color: $main-color;
  font-size: 3vmax;
  font-style: italic;
  font-family: $main-font;
  z-index: 1;
  margin: 5vmin;
}

.challengeContent {
  display: flex;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  margin-left: 10vw;
  margin-right: 5vw;
}

.challengeImage {
  position: relative;
  z-index: 1;
}

img {
  max-width: 30vw;
  max-height: 70vh;
  width: auto;
  height: auto;
}

.animation {
  z-index: 2;
  animation-delay: 0.2s;
}