@import "./constants.scss";

.challenge {
  width: 100vw;
  height: 90vh;
  background-color: $black;
}

.challengeText {
  position: relative;
  font-family: $main-font;
  position: relative;
  z-index: 1;
  color: $white;
  text-align: justify;
  font-weight: 600;
  margin: 10%;
}

h2 {
  color: $main-color
}