@import "./constants.scss";

#Challenge {
  width: 100%;
}

.challenge {
  padding: 80px 5%;
}

.challengeTitle {
  color: $main-color;
  font-size: 60px;
  font-family: $main-font;
  z-index: 1;
}

.challengeContent {
  display: flex;
  z-index: 1;
  justify-content: space-around;
  align-content: center;
  margin-left: 1vw;
  margin-right: 0vw;
  align-content: center;
  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.challengeImage {
  position: relative;
  z-index: 1;
}

img {
  width: auto;
  height: auto;
  max-width: 40vw !important;
  max-height: 60vh !important;
}

.challengeText {
  position: relative;
  font-family: $main-font;
  z-index: 1;
  color: $white;
  text-align: justify;
  max-width: 60vw;
  align-self: center;
}

.animation {
  z-index: 2;
  animation-delay: 0.2s;
}
