@import "./constants.scss";

.disclaimer {
  margin: 0;
  width: 100vw;
  height: 50vh;
  background-color: $black;
  position: relative;
  font-family: $main-font;
  position: relative;
  z-index: 1;
  color: $white;
  text-align: justify;
  font-weight: 600;
  font-size: 2vmin;
  position: relative;
}

p, h3, h2 {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  color: $main-color;
}

h3 {
  color: $secondary-color;
}