@import "./constants.scss";

.disclaimer {
  margin-top: 5%;
  width: 100vw;
  height: 55vh;
  background-color: $black;
  font-family: $main-font;
  color: $white;
  opacity: 1;
  text-align: justify;
  font-weight: 600;
  font-size: 2vmin;
  animation-delay: 2s;
  padding-top:5%;
  @media only screen and (max-width: 500px) {
    height: 40vh;
  }
}

p, h3, h2 {
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  color: $main-color;
}

h3 {
  color: $secondary-color;
}