@import "./constants.scss";

.disclaimer {
  height: 55vh;
  background-color: $black;
  font-family: $main-font;
  color: $white;
  opacity: 1;
  text-align: justify;
  font-size: 2vmin;
  animation-delay: 2s;
  padding: 80px 5%;
  @media only screen and (max-width: 500px) {
    height: 40vh;
  }

  p {
    margin-bottom: 60px;
  }

  h3 {
    font-size: 20px;
  }
}

p,
h3,
h2 {
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  color: $main-color;
}

h3 {
  color: $secondary-color;
}
