@import "./constants.scss";

.header {
  width: 100vw;
  height: 10vh;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  margin-top: -2vh;
  z-index: 2;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.instalogo {
  width: 5vh !important;
  height: 5vh !important;
  padding: 0 3vw;
}

.menuitem {
  width: 4vh !important;
  height: 4vh !important;
  padding: 1vh 3vw;
}