@import "./constants.scss";

.intro {
  background-color: black;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/unicef1.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: none;
  position: relative;
  background-attachment: fixed;
  @media only screen and (max-width: 500px) {
    height: 60vh;
  }
}

.darken {
  position: fixed;
  border-style: solid;
  border-width: 100vh 100vw 100vh 100vw;
  border-color: $black;
  opacity: 0.8;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.triangle {
  position: fixed;
  border-style: solid;
  border-width: 0 0 150vh 60vw;
  border-color: transparent transparent $secondary-color transparent;
  opacity: 0.34;
  bottom: 0;
  right: 0;
  animation: slide ease-in-out 1s;
  -webkit-animation: slide ease-in-out 1s;
  -moz-animation: slide ease-in-out 1s;
  -o-animation: slide ease-in-out 1s;
  -ms-animation: slide ease-in-out 1s;
  z-index: 0;
}

.introText {
  padding-top: 20vh;
  margin-top: 6vh;
  font-family: $main-font, sans-serif;
  position: relative;
  z-index: 1;
  font-style: italic;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;

  h1 {
    color: $white;
    font-weight: 800;
    font-size: 8vw;
  }

  h2 {
    color: $main-color;
    font-size: 3vw;
    margin-top: -5.5%;
    font-weight: 600;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    right: -10vw;
  }
  100% {
    right: 0;
  }
}

@-moz-keyframes slide {
  0% {
    right: -10vw;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes slide {
  0% {
    right: -10vw;
  }
  100% {
    right: 0;
  }
}

@-o-keyframes slide {
  0% {
    right: -10vw;
  }
  100% {
    right: 0;
  }
}

@-ms-keyframes slide {
  0% {
    right: -10vw;
  }
  100% {
    right: 0;
  }
}
