@import "./constants.scss";

.unicef {
  font-family: $main-font;
  background-color: $black;
  padding: 80px 5%;
}

.aur-text {
  position: relative;
  z-index: 1;
  font-weight: 500;
  @media only screen and (max-width: 800px) {
    padding: 0 3vw;
  }
  padding: 0 10vw;
}

ul {
  list-style-type: none;
  position: relative;
  z-index: 1;
  text-align: left;
  font-family: $main-font;
  @media only screen and (max-width: 800px) {
    padding: 0 10vw;
  }
  padding: 0 20vw;
}

li {
  margin: 1.2vh;
}

.unicef-text {
  text-align: left;
  position: relative;
  z-index: 2;
}

.unicef-title {
  margin: 10vh 2vw 4vh 2vw;
}
